body{
    background-image: 'download.jpg';
}
.xyz{
    background-color: green;
    height: 50vh !important;
    width: 100%;
}

.xyz1{
    background-color: blue;
    height: 50vh !important;
    width: 100%;
    margin-top: -10%;
}
h1{
    margin-left: 10%;
}
